.root
  --be-kusama-bg-color: #0A0000
  --be-kusama-line-color: #E1AC22
  --be-kusama-line-width: 4
  --be-kusama-opacity: 1
  position: fixed
  top: 50%
  left: 50%
  width: 100vw
  height: 100vh
  width: max(100lvw, var(--be-ios-immersive-width, 0px))
  height: max(100lvh, var(--be-ios-immersive-height, 0px))
  transform: translate3d(-50%, -50%, 0)
  pointer-events: none
  z-index: -1
  overflow: hidden
  opacity: var(--theme-rotatingLines-bg)
  @media (max-width: 1370px)
    --be-kusama-line-width: 3

.kusamaRoot
  opacity: var(--be-kusama-opacity)

.kusamaCanvas
  width: 100% !important
  height: 100% !important
  display: block
