.side
  position: absolute
  left: 0
  width: 100%
  height: 100%
  border: var(--border-width) solid var(--border-color)
  backdrop-filter: none
  transition: height var(--transition-theme), background var(--transition-theme), border var(--transition-theme), backdrop-filter var(--transition-theme), opacity var(--transition-theme)
  will-change: height, background, border, backdrop-filter, opacity
  pointer-events: none
  opacity: 0 // Gets opacity when state space is 3D
  background: var(--theme-blok)

  &_Top
    left: calc(0px - #{var(--border-width)})
    top: 0
    height: var(--panel-height)
    width: calc(100% + 2 * #{var(--border-width)})
    transform: rotateX(90deg) rotateY(0deg) translateY(calc(var(--panel-height) * -1))
    transform-origin: 0 0

  &_Bottom
    left: calc(0px - #{var(--border-width)})
    top: 100%
    height: var(--panel-height)
    width: calc(100% + 2 * #{var(--border-width)})
    transform: rotateX(90deg) rotateY(0deg) translateY(calc(var(--panel-height) * -1))
    transform-origin: 0 0

  &_Back
    left: calc(0px - #{var(--border-width)})
    top: 0
    width: calc(100% + 2 * #{var(--border-width)})
    height: 100%
    transform: translateZ(calc(var(--panel-height) * -1))
    transform-origin: 0 0
