.root
  --rb-bg-color: var(--theme-bg)
  --rb-line-color: var(--theme-type)
  --rb-line-gap: 50rem
  --rb-line-width: var(--border-width)
  --rb-rotation-duration: 60s
  --be-segments-bg-color: var(--theme-bg)
  --be-segments-line-color: var(--theme-type)
  --be-segments-line-width: var(--border-width)
  --be-segments-opacity: 1
  --be-kusama-bg-color: black
  --be-kusama-line-color: #FFD700
  --be-kusama-line-width: 4
  --be-kusama-opacity: 1
  position: fixed
  inset: 0
  pointer-events: none
  z-index: -1
  overflow: hidden
  opacity: var(--theme-rotatingLines-bg)

.svg
  width: 100%
  height: 100%
  display: block

.lines
  stroke: var(--rb-line-color)
  stroke-width: var(--rb-line-width)
  fill: none
  shape-rendering: geometricPrecision

.background
  fill: var(--rb-bg-color)

.segmentsRoot
  opacity: var(--be-segments-opacity)

.segmentsCanvas
  width: 100% !important
  height: 100% !important
  display: block

.kusamaRoot
  opacity: var(--be-kusama-opacity)

.kusamaCanvas
  width: 100% !important
  height: 100% !important
  display: block
