.layer
  position: absolute
  inset: 0
  overflow: hidden
  pointer-events: none
  transition: opacity var(--transition-theme)

.page
  position: fixed
  z-index: 0
  opacity: var(--theme-bg-gradient)

.blok
  z-index: 0
  opacity: var(--theme-blok-gradient)

.svg
  width: 100%
  height: 100%
  display: block
