.layer
  position: absolute
  inset: 0
  overflow: hidden
  pointer-events: none
  transition: opacity var(--transition-theme)
  background-image: url('/bg-gradient.png')
  border-image-repeat: repeat
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  filter: grayscale(1) contrast(220%) brightness(68%)

.page
  position: fixed
  z-index: 0
  opacity: var(--theme-bg-gradient)

.blok
  z-index: -1
  opacity: var(--theme-blok-gradient)
