.blokName
  width: 25%
  padding-left: var(--spacing-side)
  @media (max-width: 770px)
    width: 100%
    padding: var(--spacing-base) var(--spacing-side)
    padding-top: 0

.content
  width: 75%
  @media (max-width: 770px)
    width: 100%
  & > div
    margin-bottom: var(--spacing-base)
    &:last-child
      margin-bottom: 0

.row
  display: flex

.rowItem
  &:first-child
    width: 33%
    color: var(--theme-type-inactive)
    padding-left: calc(var(--spacing-base) / 2)
    @media (max-width: 770px)
      width: 50%
      padding-left: var(--spacing-side)
  &:last-child
    display: flex
    width: 66%
    @media (max-width: 770px)
      flex-direction: column

.rowName,
.rowRole
  width: 100%
  padding-left: calc(var(--spacing-base) / 2)
  @media (max-width: 770px)
    width: 100%

.rowRole
  color: var(--theme-type-inactive)
