.blokFilter
  position: relative


.sortButton
  padding-bottom: var(--filter-bottom-padding) !important
  &[data-active="true"]
    color: var(--theme-type-inactive)

.icon
  padding-bottom: var(--filter-bottom-padding) !important
  
