.blokFilter
  position: relative


.sortButton
  transition: color var(--transition-button)
  padding-bottom: var(--filter-bottom-padding) !important
  &[data-active="true"]
    color: var(--theme-type-inactive)

.icon
  padding-bottom: var(--filter-bottom-padding) !important
  