.projectThumbnail
  display: none

  @media (orientation: portrait) and (pointer: coarse)
    display: block
    position: relative
    z-index: 1
    padding: var(--spacing-side-image)
    padding-bottom: 0

.projectThumbnailFirst
  @media (orientation: portrait) and (pointer: coarse)
    padding-top: 0

.projectThumbnailImage
  display: block
  width: 100%
  height: auto
