.cursor
  position: fixed
  top: 0
  left: 0
  color: var(--cursor-color-bg)
  border-radius: 50%
  pointer-events: none
  z-index: 9999
  will-change: transform
  transition: color var(--transition-theme-quick)
  @media (hover: none) or (pointer: coarse)
    display: none

:global(body[data-cursor-surface='blok']) .cursor
  color: var(--cursor-color-blok)

.main
  width: 0.9090909091rem
  height: 0.9090909091rem
  background-color: currentColor

.follower
  width: 0.9090909091rem
  height: 0.9090909091rem
  background-color: transparent
  border: 1.5px solid currentColor

.message
  opacity: 0
  background-color: black
  color: white
  padding: 6px 1.25rem 10px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 10000px
  line-height: 1
  white-space: nowrap
  width: auto
