.cursor
  position: fixed
  top: 0
  left: 0
  pointer-events: none
  z-index: 9999
  will-change: transform
  @media (hover: none) or (pointer: coarse)
    display: none

.main
  width: 1rem
  height: 1rem
  background-color: currentColor

.follower
  width: 1rem
  height: 1rem
  background-color: transparent
  border: var(--border-width) solid currentColor

.message
  opacity: 0
  background: var(--theme-type)
  color: var(--theme-bg) !important
  padding: 6px 1.25rem 10px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 10000px
  line-height: 1
  white-space: nowrap
  width: auto
