.outerNavigation
  position: fixed
  top: 0
  left: 0
  z-index: 1
  display: flex
  align-items: flex-start
  gap: 0
  opacity: 1
  visibility: visible
  pointer-events: auto
  transition: opacity var(--transition-theme), visibility 0s linear 0s
  @media (max-width: 1500px)
    display: none

:global(body[data-fullscreen='true']) .outerNavigation
  opacity: 0
  visibility: hidden
  pointer-events: none
  transition: opacity var(--transition-theme), visibility 0s linear var(--transition-theme)

:global(body[data-page-content-visible='false']) .outerNavigation
  opacity: 0
  visibility: hidden
  pointer-events: none

.outerNavigationButton
  display: inline-flex
  align-items: flex-start
  appearance: none
  border: 0
  background: transparent
  color: var(--cursor-color-bg) !important
  text-decoration: none
  user-select: none
  padding: var(--spacing-base) calc(var(--spacing-side) / 2)
  &:first-child
    padding-left: var(--spacing-side)
  &:last-child
    padding-right: var(--spacing-side)

.outerNavigationLink
  display: inline-block
  font-size: var(--font-size-outer) !important
  line-height: 1
  text-transform: uppercase
  letter-spacing: 0.02em
  padding: 0
