.outerTheming
  position: fixed
  top: var(--spacing-base)
  right: var(--spacing-side)
  z-index: 1
  opacity: 1
  visibility: visible
  pointer-events: auto
  transition: opacity var(--transition-theme), visibility 0s linear 0s
  @media (max-width: 1500px)
    display: none

:global(body[data-layout='DESKTOP']) .outerTheming
  opacity: 0
  visibility: hidden
  pointer-events: none
  transition: opacity var(--transition-theme), visibility 0s linear var(--transition-theme)

.outerThemingContainer
  display: flex
  flex-direction: column
  align-items: flex-end
  gap: .33rem
  transform: translate(0%, -100%) rotate(-90deg)
  transform-origin: bottom right

.outerThemingButton
  display: inline-flex
  align-items: center
  justify-content: flex-end
  appearance: none
  background: transparent
  color: var(--cursor-color-bg)
  font-size: var(--font-size-outer)
  line-height: 1
  text-transform: uppercase
  letter-spacing: 0.02em
  user-select: none
  padding: calc(var(--spacing-half) / 6) calc(var(--spacing-half) / 2)
  // span
  //   display: inline-block
  //   transform: rotate(-90deg) translate(1.15rem, 0)
  //   transform-origin: bottom right
