.outerNavigation
  position: fixed
  top: var(--spacing-base)
  left: var(--spacing-side)
  z-index: 1
  display: flex
  align-items: flex-start
  gap: calc(var(--spacing-side) / 1)
  opacity: 1
  visibility: visible
  pointer-events: auto
  transition: opacity var(--transition-theme), visibility 0s linear 0s
  @media (max-width: 1500px)
    display: none

:global(body[data-layout='DESKTOP']) .outerNavigation
  opacity: 0
  visibility: hidden
  pointer-events: none
  transition: opacity var(--transition-theme), visibility 0s linear var(--transition-theme)

.outerNavigationLink
  appearance: none
  border: 0
  background: transparent
  color: var(--cursor-color-bg)
  font-size: var(--font-size-outer) !important
  line-height: 1
  text-transform: uppercase
  letter-spacing: 0.02em
  user-select: none
  padding: 0
