.sliderIndicator
  position: absolute
  bottom: calc(var(--spacing-base) / 2)
  right: var(--spacing-side)
  display: inline-flex
  align-items: flex-end
  gap: 6px
  z-index: 1
  @media (max-width: 770px)
    gap: 5px
  &_Item
    width: 1.5px
    height: 0.75rem
    background: var(--slider-indicator)
    transition: all 0.33s ease
    @media (max-width: 770px)
      height: 12px
    &[data-active='true']
      height: 1.25rem
      @media (max-width: 770px)
        height: 18px
