.sliderIndicator
  display: inline-flex
  flex: none
  margin-left: auto
  height: 1lh
  transform: translateY(1px)
  align-items: flex-end
  gap: 4px
  color: var(--theme-type)
  &_Item
    width: 1.5px
    height: 1ex
    background: currentColor
    transition: height 0.33s ease
    &[data-active='true']
      height: 100%
