.actionButton
  display: flex
  align-items: center
  padding: .5rem 1.5rem
  border: 1.5px solid var(--border-color)
  background: var(--theme-blok)
  color: var(--theme-type)
  text-decoration: none
  transition: color var(--transition-theme-quick), border var(--transition-theme-quick), background var(--transition-theme-quick)
  user-select: none

.copy
  display: block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
