.actionButton
  display: flex
  align-items: center
  position: relative
  isolation: isolate
  overflow: hidden
  gap: .5rem
  padding: .5rem .75rem
  padding-bottom: calc(.5rem - 1px)
  border: 1.5px solid var(--border-color)
  background: var(--theme-blok)
  color: var(--theme-type)
  text-decoration: none
  transition: color var(--transition-theme), border var(--transition-theme), background var(--transition-theme) !important
  user-select: none

.copy
  display: block
  position: relative
  z-index: 1
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  color: var(--theme-type)
  transition: color var(--transition-theme)
