.actionBlock
  position: relative
  width: 3rem
  height: 3rem
  border: var(--border-width) solid var(--border-color)
  background: var(--theme-blok)
  flex: 0 0 auto

.square
  border-radius: calc(var(--border-radius) * 0.66)

.round
  border-radius: 999px
