.markdown
  min-width: 0 // Ellipsis hack
  white-space: pre-line // Listens to line breaks in markdown
  a
    --markdown-underline-progress: 100%
    text-decoration: none
    background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor)
    background-repeat: no-repeat
    background-size: var(--markdown-underline-progress) var(--border-hyperlink), 0% var(--border-hyperlink)
    background-position: 100% 100%, 0 100%
    -webkit-box-decoration-break: clone
    box-decoration-break: clone
    will-change: background-size
    &:hover
      @media ( hover: hover )
        animation: markdownLinkUnderline .66s ease
        animation-iteration-count: 1

@keyframes markdownLinkUnderline
  0%
    background-size: 100% var(--border-hyperlink), 0% var(--border-hyperlink)
  50%
    background-size: 0% var(--border-hyperlink), 0% var(--border-hyperlink)
  51%
    background-size: 0% var(--border-hyperlink), 0% var(--border-hyperlink)
  100%
    background-size: 0% var(--border-hyperlink), 100% var(--border-hyperlink)
