:global(.icon)
  position: relative
  cursor: pointer
  user-select: none
  flex-shrink: 0
  width: var(--icon-size)
  height: var(--icon-size)
  box-sizing: content-box

:global(.icon > div), :global(.icon > a)
  width: var(--icon-size)
  height: var(--icon-size)

:global(.icon svg)
  position: relative
  width: var(--icon-size)
  height: var(--icon-size)

:global(.icon-ExternalLink)
  opacity: 0

:global(.icon-ExternalLink[data-active='true'])
  opacity: 1

:global(.icon-Wide)
  width: calc(2 * #{var(--icon-size)})

:global(.icon-Wide > div), :global(.icon-Wide > a)
  width: calc(2 * #{var(--icon-size)})

:global(.icon-Wide svg)
  width: calc(2 * #{var(--icon-size)})

:global(.icon-High)
  height: calc(2 * #{var(--icon-size)})

:global(.icon-High > div), :global(.icon-High > a)
  height: calc(2 * #{var(--icon-size)})

:global(.icon-High svg)
  height: calc(2 * #{var(--icon-size)})

:global(.icon-Rotate)
  transform: rotate(180deg)

:global(.icon-Footer)
  position: relative

:global(.icon-Footer .iconLine)
  position: absolute
  top: calc(var(--spacing-base) + 1px)
  left: var(--spacing-base)
  width: 0.1rem
  height: calc(100% - (var(--spacing-base) * 2) - 1px)
  background: currentColor
  transform: translateX(-100%)
  @media (max-width: 770px)
    left: calc(var(--spacing-base) / 2 + var(--icon-size) / 2 + 0.75px)

:global(.icon.disabled)
  pointer-events: none
  color: var(--theme-type-inactive)
  transition: color var(--transition-theme)
  will-change: color

:global(.hasExternalIcon)
  position: relative

:global(.hasExternalIcon > svg)
  position: absolute
  top: 0
  right: 0
  width: calc(var(--icon-size) / 2)
  height: calc(var(--icon-size) / 2)
  transform: translate(75%, 50%)

:global(.linkAnimation)
  --var: 0%
  position: relative
  overflow: visible

:global(.linkAnimation::before)
  content: ''
  position: absolute
  left: 0
  bottom: 0
  display: inline-block
  width: var(--var)
  height: 100%
  border-bottom: var(--border-hyperlink) solid currentColor !important
  transform: translateY(var(--border-hyperlink))
  box-sizing: border-box
  z-index: 0
  will-change: width, border-bottom
  overflow: visible
  pointer-events: none

:global(.linkAnimation:hover::before)
  @media (hover: hover)
    animation: hyperLink .66s ease
    animation-iteration-count: 1
    animation-fill-mode: forwards

:global(.IconTheme)
  position: relative
  width: calc(var(--icon-size) * 2)
  height: var(--icon-size)

:global(.IconTheme-Line)
  position: absolute
  top: 50%
  left: calc(var(--spacing-base) / 2)
  width: calc(100% - #{var(--spacing-base)}) !important
  height: 1.5px !important
  background-color: var(--theme-type)
  transition: background-color var(--transition-theme)
  transform: translateY(-50%)

:global(.IconTheme-Circle)
  position: absolute
  top: calc(var(--spacing-base) + (var(--icon-size) / 10 * 1))
  left: calc(var(--spacing-base) / 2)
  width: calc(var(--icon-size) / 5 * 4) !important
  height: calc(var(--icon-size) / 5 * 4) !important
  background-color: var(--theme-type)
  border-radius: 1000px
  transition: left 0.25s ease, background-color var(--transition-theme)

:global(.IconTheme[data-theme='LIGHT'] .IconTheme-Circle)
  left: calc(var(--spacing-base) / 2)

:global(.IconTheme[data-theme='DARK'] .IconTheme-Circle)
  left: calc(var(--spacing-base) / 2 + ((var(--icon-size) * 2)) - (var(--icon-size) / 5 * 4))
