*
  overscroll-behavior: none
  &::-webkit-scrollbar 
    display: none
    scrollbar-width: none
  
html, body
  position: relative
  width: 100%
  min-height: 100%
  
body
  color: var(--theme-type)
  background: var(--theme-bg)
  display: flex
  justify-content: center
  align-items: flex-start
  padding: 0
  min-height: 100dvh
  transition: padding-top var(--transition-space), padding-bottom var(--transition-space), color var(--transition-theme)
  will-change: padding-top, padding-bottom, color

main
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  max-width: 100%
  height: auto
  height: calc-size(auto)
  max-height: auto
  max-height: calc-size(auto)
  border: 0 solid var(--border-color)
  border-radius: 0
  background: var(--theme-container)
  transition: border var(--transition-theme), border-radius var(--transition-space-quick), width var(--transition-space), max-width var(--transition-space), height var(--transition-space), max-height var(--transition-space), transform var(--transition-space), background var(--transition-theme)
  will-change: border, border-radius, width, max-width, height, max-height, transform, background
  transform-style: preserve-3d
  // Safe envs
  padding-top: env(safe-area-inset-top)
  padding-right: env(safe-area-inset-right)
  padding-bottom: env(safe-area-inset-bottom)
  padding-left: env(safe-area-inset-left)
  & > .blok
    margin-top: -2px

.page
  &-General
    margin-top: 20vh
  &-Project
    margin-top: 20vh
    &-Thumbnail
      padding: 0 var(--spacing-base)

.blok
  // position: sticky
  top: 0
  display: flex
  flex-direction: column
  border: var(--border-width) solid var(--border-color)
  background: transparent
  overflow: visible
  transition: border var(--transition-theme), border-left var(--transition-theme), border-right var(--transition-theme), border-top var(--transition-theme), border-bottom var(--transition-theme), background var(--transition-theme)
  will-change: border, border-left, border-right, border-top, border-bottom, background, opacity
  transform-style: preserve-3d
  &.inactive
    display: none
  .row
    display: flex
    flex-direction: row
    row-wrap: nowrap
    .column
      text-align: left
      padding: var(--blok-padding)
      &[data-inactive='true']
        color: var(--theme-type-inactive)
        transition: color var(--transition-theme)
        will-change: color
      &-Empty
        @media (max-width: 770px)
          display: none
      &-Project, &-Title, &-Category, &-Agency, &-Empty, &-Text
        flex: 1 1 0
        width: 0
      &-Text
        --var: 0%
        min-width: 0 // Ellipsis hack
        white-space: pre-line // Listens to line breaks in markdown
        @media (min-width: 770px)
          text-align: justify
        &[data-display='desktop']
          color: var(--theme-type-inactive)
          @media (max-width: 770px)
            display: none
        &[data-display='mobile']
          @media (min-width: 770px)
            display: none
        &[data-color='primary']
          color: var(--theme-type)
        &[data-color='secondary']
          color: var(--theme-type-inactive)
        p
          display: block
        em
          color: var(--theme-type-inactive)
        a
          position: relative
          &::before
            content: ''
            position: absolute
            left: 0
            display: inline-block
            bottom: calc(0px - (#{var(--border-width)} / 2))
            top: 0
            width: var(--var)
            z-index: 0
            border-bottom: var(--border-width) solid currentColor
            will-change: width, border-bottom
          @media (hover: hover)
            a:hover
              &::before
                @media ( hover: hover )
                  animation: hyperHyperLink .66s ease
                  animation-iteration-count: 1
      &-TextExpandable
        display: flex
        flex-direction: column
        gap: var(--spacing-base)
        &-More, &-Details
          color: var(--theme-type-inactive)
        &-Details
          @media (min-width: 770px)
            display: none
      &-Image, &-Thumbnail
        padding: 0 var(--spacing-side)
        padding-bottom: var(--spacing-base)
        flex-grow: 1
        img, video
          width: 100%
          height: auto
          height: calc-size(auto)
      &-Year
        width: 4.375em
      &-Icons
        display: flex
        justify-content: flex-end
        align-items: center
        padding: var(--blok-padding)
        padding-left: 0
        padding-right: .5rem
        & > div 
          margin: 0 .5rem

  // Specific Bloks
  &-Animate
    opacity: 0
  &-Head
    position: sticky
    left: 0
    top: 0
    width: 100%
    z-index: +1
    border-top: var(--border-width) solid var(--border-color)
    border-bottom: var(--border-width) solid var(--border-color)
    border-left: var(--border-width) solid var(--border-color)
    border-right: var(--border-width) solid var(--border-color)
    .column 
      &-Title
        padding-right: 0
    .projectNumber
      display: inline-flex
      justify-content: flex-end 
      width: 2.255rem
      @media (max-width: 770px)
        display: none
  &-Filter
    transition: padding-top var(--transition-space)
    padding-top: var(--top-padding-filter)
    justify-content: flex-end
    @media (max-width: 770px)
      .column:nth-child(n+3):not(.column-Icons)
        display: none
  &-Project
    position: relative
    border-top: 1px solid var(--border-color)
    transform: translateY(0)
    transition: 0.165s ease-out
    &:hover
      @media (hover: hover)
        transform: translateY(-50%)
        transition: transform var(--transition-project-hover)
    @media (max-width: 770px)
      .column:nth-child(n+3):not(.column-Icons)
        display: none 
  &-ProjectImages
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    gap: var(--spacing-base)
    padding: var(--spacing-base)
    &-Item
      display: flex 
      flex-direction: column
      gap: 0.625rem
      width: calc((100vw - (#{var(--spacing-side)} * 3)) / 2)
  &-ProjectImagesList
    display: flex
    flex-direction: column
  &-ProjectSlider
    width: 100%
    height: calc((100vw * 0.5625) + (2 * #{var(--spacing-base)}))
    &-Item
      position: absolute
      top: var(--spacing-base)
      left: var(--spacing-side)
      width: calc(100vw - (2 * #{var(--spacing-side)}))
      height: calc(100% - (2 * #{var(--spacing-side)}))
      object-fit: cover
      opacity: 0
      transition: opacity 0s ease-in-out
      will-change: opacity
      pointer-events: none
      overflow: hidden
      img
        width: 100%
        height: 100%
        object-fit: cover
      &[data-active='true']
        opacity: 1
        pointer-events: auto
    &-Title
      position: absolute
      top: 0
      left: 0
      padding: var(--blok-padding)
      color: white
      mix-blend-mode: difference
  &-Exp
    padding: var(--blok-padding) 0
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    @media (max-width: 770px)
      flex-direction: column
  &-Footer
    align-items: flex-end
    justify-content: flex-end
    height: calc(#{var(--blok-height)} * 2)
    border-bottom: var(--border-width) solid var(--border-color)

.icon
  position: relative
  width: var(--icon-size)
  height: var(--icon-size)
  cursor: pointer
  user-select: none
  flex-shrink: 0
  svg
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
  &-Wide
    width: calc(2 * #{var(--icon-size)})
  &-High
    height: calc(2 * #{var(--icon-size)})
  &-Rotate
    transform: rotate(180deg)
  &.disabled
    pointer-events: none
    color: var(--theme-type-inactive)
    transition: color var(--transition-theme)
    will-change: color

// .side 
//   position: absolute
//   left: 0
//   top: 0
//   width: 100%
//   height: 100%
//   border: var(--border-width) solid var(--border-color)
//   backdrop-filter: none
//   transition: background var(--transition-theme), border var(--transition-theme), backdrop-filter var(--transition-theme), opacity var(--transition-theme)
//   will-change: background, border, backdrop-filter, opacity
//   pointer-events: none
//   opacity: 0
//   &_Top
//     left: calc(0px - #{var(--border-width)})
//     top: 0
//     height: 150px
//     width: calc(100% + 2 * #{var(--border-width)})
//     transform: rotateX(90deg) rotateY(0deg) translateY(-150px) 
//     transform-origin: 0 0

// Specific Elements
.IconTheme
  // border: var(--border-width) solid var(--theme-type)
  background: var(--theme-type)
  border-radius: 1000px

// .themeBackground
//   position: fixed
//   width: 100%
//   height: 100vh
//   top: 0
//   left: 0
  // &-Image
  //   position: absolute
  //   width: 100%
  //   height: 100%
  //   top: 0
  //   left: 0
  //   opacity: 0
  //   object-fit: cover
  //   object-position: center
  //   transition: opacity var(--transition-theme-quick)
  //   will-change: opacity
  // &-Color
  //   position: absolute
  //   width: 100%
  //   height: 100%
  //   top: 0
  //   left: 0
  //   opacity: 1
  //   background: var(--theme-bg)
  //   transition: opacity var(--transition-theme-quick), background var(--transition-theme-quick)
  //   will-change: opacity, background

// .themeFilter
//   position: fixed
//   width: 100%
//   height: 100vh
//   top: 0
//   left: 0
//   background: linear-gradient(180deg, #371921, #533535 44%, #422328 94%)
//   object-fit: cover
//   opacity: 0
//   transition: opacity var(--transition-theme-quick)
//   will-change: opacity
//   svg, img
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     opacity: 0.05
//     object-fit: cover
  
// .introText
//   position: fixed
//   top: 0
//   left: 0
//   margin-top: 5vh
//   margin-left: 5vw
//   margin-right: 10vw
//   max-width: 58em
//   opacity: 0
//   transition: opacity var(--transition-theme-quick)
//   will-change: opacity
//   @media screen and ( max-width: 770px )
//     margin-top: 10vh
//   h1
//     font-size: 3.3vmax
//     line-height: 1.1
      
// .laserBlok
//   position: fixed
//   left: 0
//   top: 0
//   right: 0
//   bottom: 0
//   opacity: 0
//   will-change: opacity
//   pointer-events: none
//   &-Line
//     position: absolute
//     top: 50%
//     left: 50%
//     width: 0
//     height: 0
//     opacity: 0
//     transform: translate(-50%, -50%)
//     will-change: width, height, opacity
//     border: var(--border-width) solid currentColor

.mobile
  @media screen and ( min-width: 770px )
    display: none
.desktop
  @media screen and ( max-width: 770px )
    display: none

  // Themes
body
  // &[data-theme="IMAGE"]
  //   .themeBackground
  //     &-Image
  //       opacity: 1
  //     &-Color
  //       opacity: 0
  // &[data-theme="GRADIENT"], &[data-theme="BASIC"], &[data-theme="DONJUDD"]
  //   .introText
  //     opacity: 1
  // &[data-theme="GRADIENT"], &[data-theme="IMAGE"]
  //   .side
  //     backdrop-filter: blur(#{var(--backdrop-filter)})
  //   .blok-Head .row, .blok-Project .row, .blok-Filter .row, .blok-Footer
  //     backdrop-filter: blur(#{var(--backdrop-filter)})
  // &[data-theme="BASIC"], &[data-theme="DONJUDD"], &[data-theme="TRON"], &[data-theme="NIGHTMODE"], &[data-theme="IMAGE"]
  //   .blok, .blok .row, .side
  //     background: var(--theme-blok)
  // &[data-theme="GRUNGE"]
  //   .themeBackground
  //     opacity: 0
  //   .themeFilter
  //     opacity: 1
  &[data-theme="LIGHT"], &[data-theme="DARK"]
    .blok, .blok .row, .side
      background: var(--theme-blok)
    
// Spaces
body
  // OMNI
  main
    & > .blok:nth-child(2) 
      z-index: -1
  // LAPTOP
  &[data-space="DESKTOP"]
    padding: 0
    main
      max-width: 100%
      min-height: 100dvh
    // .introText
    //   opacity: 0
    .blok
      border-left-width: 0
      border-right-width: 0
      &-Head
        border-top-width: 0
        border-bottom-width: 0
      &-Project
        overflow: hidden
      &-Filter
        border-top-width: 0
      &-Footer
        height: calc(68px * 2)
        justify-content: flex-end
        border-bottom-width: 0
        flex-grow: 1

  // 3D
  // &[data-space="3D"]
  //   padding-top: calc(191px + 68px + 20vh)
  //   padding-bottom: 6rem
  //   .laserBlok
  //     opacity: 1
  //   main
  //     width: 88vw
  //     max-width: 1150px
  //     & > .blok
  //       perspective: 1000px
  //       perspective-origin: 50% -100vh
  //     & > .blok
  //       &:first-child, &:nth-child(2)
  //         .side
  //           opacity: 1
            
  // PHONE
  // &[data-space="MOBILE"]
  //   align-items: center
  //   font-size: var(--font-size-mobile)
  //   h1, p, a, span
  //     font-size: 1em
  //   main
  //     flex-grow: 1
  //     width: 100%
  //     max-width: 393px
  //     height: 100%
  //     max-height: 852px
  //     border: 4px solid var(--border-color)
  //     border-radius: 2em
  //     overflow-y: auto
  //   .introText
  //     opacity: 0
  //   .blok
  //     border-left-width: 0
  //     border-right-width: 0
  //     &-Footer
  //       border-bottom: 0
  //       min-height: calc(68px * 2)
  //       justify-content: flex-end
  //     &-Head
  //       border-top-width: 0
  //       .column-Title
  //         & > a:nth-child(2)
  //           display: none
  //     &-Filter
  //       border-top-width: 0
  //       .column:nth-child(n+3):not(.column-Icons)
  //         display: none 
  //     &-Project
  //       .column:nth-child(n+3):not(.column-Icons)
  //         display: none 
  //     .column
  //       &-Empty
  //         display: none
  //   .desktop
  //     display: none

.clickable
  cursor: pointer
  user-select: none

@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%

@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%