// Global
html, body
  position: relative
  width: 100%
  min-height: 100%
  
body
  background: var(--theme-bg)
  color: var(--theme-type)
  display: flex
  justify-content: center
  align-items: flex-start
  padding: 0
  transition: padding-top .5s ease, padding-bottom .5s ease, color .5s ease, background .5s ease

  // Containers
  main
    position: relative
    display: flex
    flex-direction: column
    max-width: auto
    width: 100%
    transition: max-width .5s ease
    overflow: hidden
    & > .blok
      margin-top: -2px
  // SPACES
  &[data-space="2D"]
    padding: 0
    main
      max-width: 100%
  &[data-space="3D"]
    padding-top: calc(15rem + 10vmin)
    padding-bottom: 6rem
    main
      width: 88vw
      max-width: 1150px
      overflow: visible
      & > .blok:first-child, & > .blok:nth-child(2) 
        .blokTopPanel
          display: inline-block
      & > .blok:first-child 
        z-index: +1
  &[data-space="PHONE"]
    padding-top: calc(15rem + 10vmin)
    padding-bottom: 6rem
    main
      max-width: 400px
      border: 12px solid var(--theme-type)
      border-radius: 36px
  // THEMES
  &[data-theme="BASIC"]
    .themeBackground
      opacity: 0
  &[data-theme="NIGHTMODE"]
    .themeBackground
      opacity: 0
  &[data-theme="IMAGE"]
    .themeBackground
      opacity: 1
  &[data-theme="TRON"]
    .themeBackground
      opacity: 0

.themeBackground
  position: fixed
  width: 100%
  height: 100vh
  top: 0
  left: 0
  transition: opacity .5s ease
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

.blok
  position: sticky
  top: 0
  display: flex
  flex-direction: column
  border: var(--border-width) solid var(--theme-type)
  background: var(--theme-container)
  // GSAP Animations
  // transform-style: preserve-3d
  opacity: 0
  &.inactive
    display: none
  .blokTopPanel
    display: none
    position: absolute
    transform: translateY(-100%)
    top: 2px
    left: -2px
    right: 0
    pointer-events: none
    z-index: -100
    svg
      width: calc(100% + 2px)
      path
        fill: var(--theme-container)

  .row
    display: flex
    flex-direction: row
    row-wrap: nowrap

    .column
      flex: 1
      text-align: left
      padding: var(--blok-padding)
      &[data-inactive='true']
        color: var(--theme-type-inactive)
      &-Text
        --var: 0%
        min-width: 0 // Ellipsis hack
        a
          position: relative
          white-space: nowrap
          &::before
            content: ''
            position: absolute
            left: 0
            display: inline-block
            bottom: calc(0px - (#{var(--border-width)} / 2))
            top: 0
            width: var(--var)
            z-index: 0
            border-bottom: var(--border-width) solid var(--theme-type)
          &:hover
            &::before
              @media ( hover: hover )
                animation: hyperHyperLink .66s ease
                animation-iteration-count: 1
      &-Image
        padding: 0
        img, video
          width: 100%
          height: auto
      &-Year
        flex-grow: 0
      &-Icons
        display: flex
        justify-content: flex-end
        align-items: center
        & > div 
          margin: 0 12.5px
          &:first-child
            margin-left: 0
          &:last-child
            margin-right: 0

  // Specific Bloks
  &-Head
    .column-Icons
      user-select: none
  &-Filter
    padding-top: 160px
  &-Project
    transform: translateY(0)
    transition: transform .5s ease
    &:hover
      transform: translateY(-10rem)
      .imageContainer
        height: 10rem
    .row
      overflow: hidden
    .imageContainer
      transition: height .5s ease
      animation: projectImages 2000s linear infinite
      height: 0rem
      display: flex
      flex-direction: row
      flex-frap: nowrap
      justify-content: flex-start
      gap: 1px
      img
        height: 100%
        width: auto
        height: 10rem
      &:hover
        animation-play-state: paused
    
// Global Elements
.icon
  position: relative
  width: 25px
  height: 25px
  svg
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
  &-Wide
    width: 50px
  &-High
    height: 50px
  &-Rotate
    transform: rotate(180deg)
  &-Footer
    cursor: pointer

// Specific Elements
.storeSwitcher
  display: flex
  align-items: center
  gap: 1rem
  & > div
    cursor: pointer
    padding: 3px 10px
    font-size: 12px
    color: var(--theme-bg)
    background: var(--theme-type)
    border: 1px solid var(--theme-type)
    border-radius: 1000px
    transition: all .33s ease
    &:hover
      color: var(--theme-type)
      background: var(--theme-bg)

// Animations
@keyframes projectImages
  0%
    transform: translateX(0)
  100%
    transform: translateX(-100%)

@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%

@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%
      

