*
  &::-webkit-scrollbar 
    display: none
    scrollbar-width: none
  overscroll-behavior: none
  
html, body
  position: relative
  width: 100%
  min-height: 100%
  
body
  color: var(--theme-type)
  display: flex
  justify-content: center
  align-items: flex-start
  padding: 0
  min-height: 100dvh
  transition: padding-top var(--transition-space), padding-bottom var(--transition-space), color var(--transition-theme)
  will-change: padding-top, padding-bottom, color
  main
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    max-width: 100%
    height: auto
    height: calc-size(auto)
    max-height: auto
    max-height: calc-size(auto)
    border: 0 solid currentColor
    border-radius: 0
    background: var(--theme-container)
    transition: border var(--transition-theme), border-radius var(--transition-space-quick), width var(--transition-space), max-width var(--transition-space), height var(--transition-space), max-height var(--transition-space), transform var(--transition-space), background var(--transition-theme)
    will-change: border, border-radius, width, max-width, height, max-height, transform, background
    transform-style: preserve-3d
    & > .blok
      margin-top: -2px

.blok
  position: sticky
  top: 0
  display: flex
  flex-direction: column
  border: var(--border-width) solid currentColor
  background: transparent
  overflow: visible
  transition: border var(--transition-theme), border-left var(--transition-theme), border-right var(--transition-theme), border-top var(--transition-theme), border-bottom var(--transition-theme), background var(--transition-theme)
  will-change: border, border-left, border-right, border-top, border-bottom, background, opacity
  transform-style: preserve-3d
  &.inactive
    display: none
  .row
    display: flex
    flex-direction: row
    row-wrap: nowrap
    .column
      flex: 1
      text-align: left
      padding: var(--blok-padding)
      &[data-inactive='true']
        color: var(--theme-type-inactive)
        transition: color var(--transition-theme)
        will-change: color
      &-Empty
        @media (max-width: 770px)
          display: none
      &-Text
        --var: 0%
        min-width: 0 // Ellipsis hack
        white-space: pre-line // Listens to line breaks in markdown
        @media (min-width: 770px)
          text-align: justify
        p
          display: block
        a
          position: relative
          &::before
            content: ''
            position: absolute
            left: 0
            display: inline-block
            bottom: calc(0px - (#{var(--border-width)} / 2))
            top: 0
            width: var(--var)
            z-index: 0
            border-bottom: var(--border-width) solid currentColor
            will-change: width, border-bottom
          @media (hover: hover)
            a:hover
              &::before
                @media ( hover: hover )
                  animation: hyperHyperLink .66s ease
                  animation-iteration-count: 1
      &-Image
        padding: 0
        overflow: visible
        img, video
          width: 100%
          height: auto
          height: calc-size(auto)
      &-Year
      &-Icons
        display: flex
        justify-content: flex-end
        align-items: center
        & > div 
          margin: 0 12.5px
          &:first-child
            margin-left: 0
          &:last-child
            margin-right: 0

  // Specific Bloks
  &-Animate
    opacity: 0
  &-Head
    border-top: var(--border-width) solid currentColor
    border-bottom: var(--border-width) solid currentColor
    border-left: var(--border-width) solid currentColor
    border-right: var(--border-width) solid currentColor
    .column 
      &-Title
        flex-grow: 1
        @media (max-width: 770px)
          & > a:nth-child(2)
            display: none
      &-Icons
        user-select: none
  &-Filter
    transition: padding-top var(--transition-space)
    padding-top: var(--top-padding-filter)
    justify-content: flex-end
    .column
      &-Icons
        flex-grow: 1
    @media (max-width: 770px)
      .column:nth-child(n+3):not(.column-Icons)
        display: none
  &-Project
    border-top-width: 0
    .row
      border-top: var(--border-width) solid currentColor
      transform: translateY(0)
      transition: 1s ease
    @media (hover: hover)
      .row:hover
        .row
          transform: translateY(calc(0px - (#{var(--row-height)} / 2))) !important
          transition: transform var(--transition-project-hover)
    .column
      max-width: 100%
      &-Icons
        flex-grow: 1
    @media (max-width: 770px)
      .column:nth-child(n+3):not(.column-Icons)
        display: none 
  &-Footer
    transition: flex-grow var(--transition-space)
    will-change: flex-grow
    flex-grow: 0.0001
    align-items: flex-end
    border-bottom: var(--border-width) solid currentColor

.icon
  position: relative
  width: var(--icon-size)
  height: var(--icon-size)
  cursor: pointer
  user-select: none
  flex-shrink: 0
  svg
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
  &-Wide
    width: 50px
  &-High
    height: 50px
  &-Rotate
    transform: rotate(180deg)
  &.disabled
    pointer-events: none
    color: var(--theme-type-inactive)
    transition: color var(--transition-theme)
    will-change: color

.side 
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  border: var(--border-width) solid currentColor
  backdrop-filter: none
  transition: background var(--transition-theme), border var(--transition-theme), backdrop-filter var(--transition-theme), opacity var(--transition-theme)
  will-change: background, border, backdrop-filter, opacity
  pointer-events: none
  opacity: 0
  &_Top
    left: calc(0px - #{var(--border-width)})
    top: 0
    height: 150px
    width: calc(100% + 2 * #{var(--border-width)})
    transform: rotateX(90deg) rotateY(0deg) translateY(-150px) 
    transform-origin: 0 0

// Specific Elements
.storeSwitcher
  position: fixed
  top: 0  
  right: 0
  padding: 1vmax
  display: flex
  align-items: center
  gap: .5rem
  opacity: 0
  pointer-events: none
  &-Item
    display: flex
    align-items: center
    gap: .5rem
    cursor: pointer
    margin: 0 12.5px
  .IconTheme
    border: var(--border-width) solid var(--theme-type)
    background: var(--theme-type)
    border-radius: 1000px
    width: 23px
    height: 23px
.blok
  .storeSwitcher
    position: relative
    top: auto
    right: auto
    padding: 0
    opacity: 0
    transition: opacity var(--transition-theme)
    will-change: opacity
body[data-space="LAPTOP"][data-space="index"]
  .storeSwitcher
    opacity: 0
  .blok
    .storeSwitcher
      opacity: 1
      pointer-events: auto
body[data-space="PHONE"], body[data-space="3D"]
  .storeSwitcher
    opacity: 1
    pointer-events: auto
  .blok
    .storeSwitcher
      opacity: 0
      display: none


.themeBackground
  position: fixed
  width: 100%
  height: 100vh
  top: 0
  left: 0
  &-Image
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    opacity: 0
    object-fit: cover
    object-position: center
    transition: opacity var(--transition-theme-quick)
    will-change: opacity
  &-Color
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    opacity: 1
    background: var(--theme-bg)
    transition: opacity var(--transition-theme-quick), background var(--transition-theme-quick)
    will-change: opacity, background
  
.introText
  position: fixed
  top: 0
  left: 0
  margin-top: 5vh
  margin-left: 5vw
  margin-right: 10vw
  max-width: 58em
  opacity: 0
  transition: opacity var(--transition-theme-quick)
  will-change: opacity
  @media screen and ( max-width: 770px )
    margin-top: 10vh
  h1
    font-size: 3.3vmax
    line-height: 1.1
      

.laserBlok
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  opacity: 0
  will-change: opacity
  pointer-events: none
  &-Line
    position: absolute
    top: 50%
    left: 50%
    width: 0
    height: 0
    opacity: 0
    transform: translate(-50%, -50%)
    will-change: width, height, opacity
    border: var(--border-width) solid currentColor

  // Themes
body
  &[data-theme="IMAGE"]
    .themeBackground
      &-Image
        opacity: 1
      &-Color
        opacity: 0
  &[data-theme="GRADIENT"], &[data-theme="BASIC"], &[data-theme="DONJUDD"]
    .introText
      opacity: 1
  &[data-theme="GRADIENT"], &[data-theme="IMAGE"]
    .side
      backdrop-filter: blur(#{var(--backdrop-filter)})
    .blok-Head .row, .blok-Project .row, .blok-Filter .row, .blok-Footer
      backdrop-filter: blur(#{var(--backdrop-filter)})
  &[data-theme="BASIC"], &[data-theme="DONJUDD"], &[data-theme="TRON"], &[data-theme="NIGHTMODE"], &[data-theme="IMAGE"]
    .blok, .blok .row, .side
      background: var(--theme-blok)

// Spaces
body
  // OMNI
  main
    & > .blok:nth-child(2) 
      z-index: -1
  // LAPTOP
  &[data-space="LAPTOP"]
    padding: 0
    main
      max-width: 100%
      min-height: 100dvh
    .introText
      opacity: 0
    .blok
      border-left-width: 0
      border-right-width: 0
      &-Head
        border-top-width: 0
        border-bottom-width: 0
      &-Project
        overflow: hidden
      &-Filter
        border-top-width: 0
      &-Footer
        flex-grow: 1
        justify-content: flex-end
        border-bottom-width: 0

  // 3D
  &[data-space="3D"]
    padding-top: calc(191px + 68px + 20vh)
    padding-bottom: 6rem
    .laserBlok
      opacity: 1
    main
      width: 88vw
      max-width: 1150px
      & > .blok
        perspective: 1000px
        perspective-origin: 50% -100vh
      & > .blok
        &:first-child, &:nth-child(2)
          .side
            opacity: 1
  // PHONE
  &[data-space="PHONE"]
    align-items: center
    main
      flex-grow: 1
      width: 100%
      max-width: 393px
      height: 100%
      max-height: 852px
      border: 4px solid currentColor
      border-radius: 38px
      overflow-y: auto
    .introText
      opacity: 0
      h1
        font-size: 3.5vw
    p, h1, h2, a, span, .row
      font-size: var(--font-size-mobile) 
    .blok
      border-left-width: 0
      border-right-width: 0
      &-Footer
        border-bottom: 0
        min-height: calc(68px * 2)
        justify-content: flex-end
      &-Head
        border-top-width: 0
        .column-Title
          & > a:nth-child(2)
            display: none
      &-Filter
        border-top-width: 0
        .column:nth-child(n+3):not(.column-Icons)
          display: none 
      &-Project
        .column:nth-child(n+3):not(.column-Icons)
          display: none 
      .column
        &-Empty
          display: none

.clickable
  cursor: pointer
  user-select: none

@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%

@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%