/* 

// Z-INDEX
// $z-layerOne: 100 // Stars and Back-Menu
// $z-layerTwo: 200 // Landscape
// $z-layerThree: 300 // Clouds + Footer
// $z-layerFour: 400 // Front-Menu
// $z-layerFive: 500 // Modals
// $z-mouse: 999 */

/* TYPE */
/* $type-size-p: 1rem
// $type-lineheight-p: 1.47em */
/* // $type-size-h1: 1.44rem
// $lineheight-h1: 1.111em
// $lineheight-serif-p: 1.47em
// $lineheight-serif-h1: 1.111em */

/* COLORS */

/* FONTS */
/* $sans-serif: 'stype', Helvetica, Arial, sans-serif
// $font-small: .75rem */

/* SPACING */
/* $btn-padding: 0.375rem */

/* TRANSITIONS */
// $transition-img: .33s ease-in
// $transition-general: .33s ease-in-out
// $transition-bg: .16s ease-in-out

/* BREAKPOINTS */
$break-mobile: 768px
$break-tablet: 1024px
$break-desktop: 1400px

:root
  /* colors */
  --color-black: hsla(0, 0%, 0%, 1)
  --color-white: white
  --color-white-inactive: hsla(0, 0%, 100%, 0.4)
  --opacity-inactive: 0.33
  /* Theme Tron */
  --color-tron: hsla(172, 100%, 75%, 1)
  --color-tron-inactive: hsla(172, 100%, 75%, 0.4)
  /* Theme Nightmode */
  --color-red: hsla(0, 100%, 50%, 1)
  --color-red-inactive: hsla(0, 100%, 50%, 0.4)
  /* Theme basic  */
  --color-grey: #989898
  --color-grey-inactive: #989898
  /* theme */
  --theme-bg: var(--color-black)
  --theme-container: var(--color-black) 
  --theme-blok: hsla(0, 0%, 100%, 0)
  --theme-blok-project: hsla(0, 0%, 100%, 0)
  --theme-blok-subpanel: hsla(100, 100%, 100%, 0)
  --theme-type: var(--color-tron)
  --theme-type-inactive: var(--color-tron-inactive)

  // typography
  --font-size-mobile: 16px

  /* spacing */
  --border-width: 2px
  --row-height: 68px
  --top-padding-filter: 136px

  // Sizing
  --icon-size: 1.2rem

  /* container & bloks */
  --blok-padding: 16px 24px

  // Transition
  --transition-project-hover: .2s ease
  --transition-space: 1s ease
  --transition-theme: 1s ease

@media screen and (max-width: 768px)
  :root
    --blok-padding: 15px 16px

// SPACES
body[data-space='PHONE']
  --blok-padding: 15px 16px
  --icon-size: 16px
// body[data-space='2D']
body[data-space='3D']
  --top-padding-filter: 0

// THEMES
body[data-theme='TRON']
  --theme-bg: var(--color-black)
  --theme-container: transparent
  --theme-blok: transparent
  --theme-blok-project: var(--color-black)
  --theme-type: var(--color-tron) 
  --theme-type-inactive: var(--color-tron-inactive)

body[data-theme='NIGHTMODE']
  --theme-bg: var(--color-black)
  --theme-container: transparent
  --theme-blok: transparent
  --theme-blok-project: var(--color-black)
  --theme-type: var(--color-red)
  --theme-type-inactive: var(--color-red-inactive)

body[data-theme='BASIC']
  --theme-bg: var(--color-white)
  --theme-container: transparent
  --theme-blok: var(--color-white)
  --theme-blok-project: var(--color-white)
  --theme-type: var(--color-black)
  --theme-type-inactive: var(--color-grey-inactive)

body[data-theme='IMAGE']
  --theme-bg: transparent
  --theme-container: transparent
  --theme-blok: hsla(0, 0%, 0%, 0.66)
  --theme-blok-project: hsla(0, 0%, 0%, 0.66)
  --theme-blok-subpanel: hsla(100, 100%, 100%, 0.33)
  --theme-type: var(--color-white)
  --theme-type-inactive: var(--color-grey-inactive)

body[data-theme='BLACK']
  --theme-bg: transparent
  --theme-container: transparent
  --theme-blok: var(--color-black)
  --theme-type: var(--color-black)
  --theme-type-inactive: var(--color-grey-inactive)

body[data-theme='GRADIENT']
  --theme-bg: radial-gradient(#D8DAD9, #BCBDC1)
  --theme-container: linear-gradient(180deg, #A99DA7, #AA899E 32%, #47485A)
  --theme-blok: transparent
  --theme-type: var(--color-white)
  --theme-type-inactive: var(--color-white-inactive)
  &[data-space='3D']
    --theme-container: transparent
    --theme-bg: linear-gradient(180deg, #A99DA7, #AA899E 32%, #47485A)

body[data-theme='DONJUDD']
  --theme-bg: #DAD9E0
  --theme-container: transparent
  --theme-blok: #DAD9E0
  --theme-blok-project: #DAD9E0
  --theme-blok-subpanel: hsla(7, 95%, 62%, 0.4)
  --theme-type: #FA5942
  --theme-type-inactive: hsla(7, 95%, 62%, 0.4)

