.blokIntro
  padding-top: var(--blok-padding-firstTop)
  // @media (max-width: 770px)
  //   padding-top: 0

.blokIntroLink
  text-decoration: none
  color: inherit
  cursor: pointer

.copy
  display: flex
  flex-direction: column
  padding: var(--spacing-base) var(--spacing-side)

.line
  margin: 0
  white-space: pre-wrap
