.blokIntro
  padding-top: var(--blok-height)
  @media (max-width: 770px)
    padding-top: var(--spacing-base)

.copy
  display: flex
  flex-direction: column
  padding: var(--spacing-base) var(--spacing-side)

.line
  margin: 0
  white-space: pre-wrap
